
*{
    background-color: grey;
}

h1 {
    text-align:center;
}

ul {
    text-align:center;
}

h1 {
    font-size: 40px;  
}
    
.my-button {
    display: block;
    margin: auto;
  }