
*{
    background-color: grey;
}

#mybutton {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 30px;  
    top: 300px;
    position: relative;
}


h1 {
    text-align:center;
}

ul {
    text-align:center;
}

h1 {
    font-size: 60px;  
}
    
.my-button {
    display: block;
    margin: auto;
    width: 200px;
    height: 80px;
    font-size: 24px;
  }

  #mybutton:hover,
  .my-button:hover {
      transform: translateY(-5px); 
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  }
